# Dictionary
- uses curly braces to define the structure.
- stores data as key-value pairs.
- key must be immutable type and value has no limitation in data types.
```python
# Syntax
d = {} # empty dictionary
d = dict() # empty dictionary
d = {'key1':'value1', 'key2':'value2'} # default key-value pairs
d = dict(key1=value1, key2=value2)
```

In [1]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
d = dict()
print(d)
print(type(d))

{}
<class 'dict'>

In [3]:
d = {'k1': 'v1', 'k2': 'v2'}
print(d)
print(type(d))

{'k1': 'v1', 'k2': 'v2'}
<class 'dict'>

In [4]:
d = dict(k1='v1', k2='v2')
print(d)
print(type(d))

{'k1': 'v1', 'k2': 'v2'}
<class 'dict'>

In [5]:
# tuple can be used as a key in a dictionary as it is immutable
# implying hashable
l = (1,2)
d1 = {l: 'val'}
d1

{(1, 2): 'val'}

In [6]:
d = {}
print(f"{d=}")

d={}

In [7]:
# adding key value pairs into dictionary
d['k'] = 'v'
d

{'k': 'v'}

In [8]:
d['age']=20
d

{'k': 'v', 'age': 20}

In [9]:
# updating an existing key-value pair
d['age'] = 30
d

{'k': 'v', 'age': 30}

In [10]:
# accesing key-value pairs
d['age']

30

In [ ]:
# accessing a non-existing key-value pair
d['name']

KeyError: 'name'

In [ ]:
d.get('age')

30

In [ ]:
d.get('name')  # returns None if key does not exist

In [ ]:
print(d.get('name'))

None

In [12]:
d.get('name', 'default_value')  # returns 'default_value' if key does not exist

'default_value'

In [14]:
d.get('name', False)  # returns 'default_value' if key does not exist

False

In [15]:
d.keys()

dict_keys(['k', 'age'])

In [16]:
d.values()  # returns all values in the dictionary

dict_values(['v', 30])

In [19]:
# removing a key-value pair
returned_value = d.pop('k',None)
print(f'{returned_value =}')
print(f"Updated {d =}")

returned_value =None
Updated d ={'age': 30}

In [20]:
d['height'] =5.1
d['roll']= 10
d['hair']= 'black'
d

{'age': 30, 'height': 5.1, 'roll': 10, 'hair': 'black'}

In [21]:
d.popitem()

('hair', 'black')

In [22]:
returned_value = d.popitem()
print(f'{returned_value =}')
print(f"Updated {d =}")

returned_value =('roll', 10)
Updated d ={'age': 30, 'height': 5.1}

In [23]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}
d1.update(d2)  # merges d2 into d1
print(f"{d1=}")
print(f"{d2=}")

d1={'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2={'c': 3, 'd': 4}

In [25]:
d1.fromkeys(['a','b','c','d'], 0)  # creates a new dictionary with keys from the list and all values set to 0

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [26]:
d = {}
d

{}

In [27]:
d.setdefault('k1')
d

{'k1': None}

In [28]:
d.setdefault('k2', 'default_value')  # sets 'k2' to 'default_value' if it does not exist
d

{'k1': None, 'k2': 'default_value'}

In [29]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
d1.items(
)

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])